Mr. Chicken/Connected Services/ServiceReferenceMrChicken/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IService.EntitiesReturn" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IService.EntitiesReturn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfRegister" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoesWantRecomendations" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ISConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelegramID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserS" nillable="true" type="tns:UserS" />
  <xs:complexType name="ArrayOfUserS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserS" nillable="true" type="tns:UserS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserS" nillable="true" type="tns:ArrayOfUserS" />
  <xs:complexType name="ArrayOfProductS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductS" nillable="true" type="tns:ProductS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductS" nillable="true" type="tns:ArrayOfProductS" />
  <xs:complexType name="ProductS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductS" nillable="true" type="tns:ProductS" />
</xs:schema>