Mr. Chicken/Connected Services/ServiceReferenceMrChicken/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IService.EntitiesReturn" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IService.EntitiesReturn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfRegister" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoesWantRecomendations" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ISConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelegramID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserS" nillable="true" type="tns:UserS" />
  <xs:complexType name="ArrayOfUserS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserS" nillable="true" type="tns:UserS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserS" nillable="true" type="tns:ArrayOfUserS" />
  <xs:complexType name="ArrayOfProductS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductS" nillable="true" type="tns:ProductS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductS" nillable="true" type="tns:ArrayOfProductS" />
  <xs:complexType name="ProductS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductS" nillable="true" type="tns:ProductS" />
  <xs:complexType name="ArrayOfEmailAcceptS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAcceptS" nillable="true" type="tns:EmailAcceptS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailAcceptS" nillable="true" type="tns:ArrayOfEmailAcceptS" />
  <xs:complexType name="EmailAcceptS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="VerificationCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAcceptS" nillable="true" type="tns:EmailAcceptS" />
  <xs:complexType name="ArrayOfDishS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DishS" nillable="true" type="tns:DishS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDishS" nillable="true" type="tns:ArrayOfDishS" />
  <xs:complexType name="DishS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LittleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DishS" nillable="true" type="tns:DishS" />
  <xs:complexType name="ArrayOfIntermediateS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntermediateS" nillable="true" type="tns:IntermediateS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntermediateS" nillable="true" type="tns:ArrayOfIntermediateS" />
  <xs:complexType name="IntermediateS">
    <xs:sequence>
      <xs:element minOccurs="0" name="DishID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntermediateS" nillable="true" type="tns:IntermediateS" />
  <xs:complexType name="UserProductsS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProductsS" nillable="true" type="tns:UserProductsS" />
  <xs:complexType name="ArrayOfUserProductsS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProductsS" nillable="true" type="tns:UserProductsS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProductsS" nillable="true" type="tns:ArrayOfUserProductsS" />
</xs:schema>