Mr. Chicken/Connected Services/ServiceReferenceMrChicken/item21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8099/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IService.Entities" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOfRegister" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoesWantRecomendations" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IService.Entities" minOccurs="0" name="IEmails" nillable="true" type="q1:ArrayOfEmailAccept" />
      <xs:element minOccurs="0" name="ISConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelegramID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IService.Entities" minOccurs="0" name="userProducts" nillable="true" type="q2:ArrayOfUserProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>