Mr. Chicken/Connected Services/ServiceReferenceMrChicken/ProgrammService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProgrammService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IService" />
      <xsd:import schemaLocation="http://localhost:8100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IService.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProgrammService_Msg_InputMessage">
    <wsdl:part name="parameters" element="tns:Msg" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_Msg_OutputMessage">
    <wsdl:part name="parameters" element="tns:MsgResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyUser" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_StartBot_InputMessage">
    <wsdl:part name="parameters" element="tns:StartBot" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_StartBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartBotResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetBotID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBotID" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetBotID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetBotFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBotFirstName" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetBotFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBotFirstNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IProgrammService">
    <wsdl:operation name="Msg">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/Msg" message="tns:IProgrammService_Msg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/MsgResponse" message="tns:IProgrammService_Msg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyUser" message="tns:IProgrammService_GetEmptyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyUserResponse" message="tns:IProgrammService_GetEmptyUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/StartBot" message="tns:IProgrammService_StartBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/StartBotResponse" message="tns:IProgrammService_StartBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBotID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetBotID" message="tns:IProgrammService_GetBotID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetBotIDResponse" message="tns:IProgrammService_GetBotID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBotFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetBotFirstName" message="tns:IProgrammService_GetBotFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetBotFirstNameResponse" message="tns:IProgrammService_GetBotFirstName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProgrammService" type="tns:IProgrammService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Msg">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/Msg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptyUser">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetEmptyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBot">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/StartBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBotID">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetBotID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBotFirstName">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetBotFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProgrammService">
    <wsdl:port name="BasicHttpBinding_IProgrammService" binding="tns:BasicHttpBinding_IProgrammService">
      <soap:address location="http://localhost:8100/IService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>