Mr.ChickenBot/Connected Services/ServiceReferenceMrChickenBot/ProgrammService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProgrammService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8099/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8099/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8099/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IService.EntitiesReturn" />
      <xsd:import schemaLocation="http://localhost:8099/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProgrammService_Msg_InputMessage">
    <wsdl:part name="parameters" element="tns:Msg" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_Msg_OutputMessage">
    <wsdl:part name="parameters" element="tns:MsgResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyUser" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_IsEmailUnique_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailUnique" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_IsEmailUnique_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AccountId_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountId" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AccountId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_RemoveUserS_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserS" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_RemoveUserS_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserSResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_FindUsersByProp_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByProp" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_FindUsersByProp_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByPropResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetProductSS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSS" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetProductSS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSSResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_UpdateProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProducts" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_UpdateProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyProduct" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_ChangeProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProduct" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_ChangeProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmailAcceptS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailAcceptS" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmailAcceptS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailAcceptSResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmails" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetDishesS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDishesS" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetDishesS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDishesSResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyDishS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyDishS" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetEmptyDishS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyDishSResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AddDishS_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDishS" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_AddDishS_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDishSResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetDishSById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDishSById" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_GetDishSById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDishSByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_UpdateDish_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDish" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_UpdateDish_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDishResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_DeleteDishByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDishByID" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_DeleteDishByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDishByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_StartBot_InputMessage">
    <wsdl:part name="parameters" element="tns:StartBot" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_StartBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartBotResponse" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_StopBot_InputMessage">
    <wsdl:part name="parameters" element="tns:StopBot" />
  </wsdl:message>
  <wsdl:message name="IProgrammService_StopBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopBotResponse" />
  </wsdl:message>
  <wsdl:portType name="IProgrammService">
    <wsdl:operation name="Msg">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/Msg" message="tns:IProgrammService_Msg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/MsgResponse" message="tns:IProgrammService_Msg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyUser" message="tns:IProgrammService_GetEmptyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyUserResponse" message="tns:IProgrammService_GetEmptyUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/AddUser" message="tns:IProgrammService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/AddUserResponse" message="tns:IProgrammService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailUnique">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/IsEmailUnique" message="tns:IProgrammService_IsEmailUnique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/IsEmailUniqueResponse" message="tns:IProgrammService_IsEmailUnique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/AccountId" message="tns:IProgrammService_AccountId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/AccountIdResponse" message="tns:IProgrammService_AccountId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetUsers" message="tns:IProgrammService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetUsersResponse" message="tns:IProgrammService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserS">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/RemoveUserS" message="tns:IProgrammService_RemoveUserS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/RemoveUserSResponse" message="tns:IProgrammService_RemoveUserS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByProp">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/FindUsersByProp" message="tns:IProgrammService_FindUsersByProp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/FindUsersByPropResponse" message="tns:IProgrammService_FindUsersByProp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSS">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetProductSS" message="tns:IProgrammService_GetProductSS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetProductSSResponse" message="tns:IProgrammService_GetProductSS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/UpdateProducts" message="tns:IProgrammService_UpdateProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/UpdateProductsResponse" message="tns:IProgrammService_UpdateProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptyProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyProduct" message="tns:IProgrammService_GetEmptyProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyProductResponse" message="tns:IProgrammService_GetEmptyProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/AddProduct" message="tns:IProgrammService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/AddProductResponse" message="tns:IProgrammService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/DeleteProduct" message="tns:IProgrammService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/DeleteProductResponse" message="tns:IProgrammService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/ChangeProduct" message="tns:IProgrammService_ChangeProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/ChangeProductResponse" message="tns:IProgrammService_ChangeProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/UpdateUserInfo" message="tns:IProgrammService_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/UpdateUserInfoResponse" message="tns:IProgrammService_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetUser" message="tns:IProgrammService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetUserResponse" message="tns:IProgrammService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailAcceptS">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetEmailAcceptS" message="tns:IProgrammService_GetEmailAcceptS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetEmailAcceptSResponse" message="tns:IProgrammService_GetEmailAcceptS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetEmails" message="tns:IProgrammService_GetEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetEmailsResponse" message="tns:IProgrammService_GetEmails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDishesS">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetDishesS" message="tns:IProgrammService_GetDishesS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetDishesSResponse" message="tns:IProgrammService_GetDishesS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptyDishS">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyDishS" message="tns:IProgrammService_GetEmptyDishS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetEmptyDishSResponse" message="tns:IProgrammService_GetEmptyDishS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDishS">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/AddDishS" message="tns:IProgrammService_AddDishS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/AddDishSResponse" message="tns:IProgrammService_AddDishS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDishSById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/GetDishSById" message="tns:IProgrammService_GetDishSById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/GetDishSByIdResponse" message="tns:IProgrammService_GetDishSById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDish">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/UpdateDish" message="tns:IProgrammService_UpdateDish_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/UpdateDishResponse" message="tns:IProgrammService_UpdateDish_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDishByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/DeleteDishByID" message="tns:IProgrammService_DeleteDishByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/DeleteDishByIDResponse" message="tns:IProgrammService_DeleteDishByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/StartBot" message="tns:IProgrammService_StartBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/StartBotResponse" message="tns:IProgrammService_StartBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgrammService/StopBot" message="tns:IProgrammService_StopBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgrammService/StopBotResponse" message="tns:IProgrammService_StopBot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProgrammService" type="tns:IProgrammService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Msg">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/Msg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptyUser">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetEmptyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailUnique">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/IsEmailUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountId">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/AccountId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserS">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/RemoveUserS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByProp">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/FindUsersByProp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSS">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetProductSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProducts">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/UpdateProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptyProduct">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetEmptyProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProduct">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/ChangeProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailAcceptS">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetEmailAcceptS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmails">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDishesS">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetDishesS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptyDishS">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetEmptyDishS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDishS">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/AddDishS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDishSById">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/GetDishSById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDish">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/UpdateDish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDishByID">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/DeleteDishByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBot">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/StartBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopBot">
      <soap:operation soapAction="http://tempuri.org/IProgrammService/StopBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProgrammService">
    <wsdl:port name="BasicHttpBinding_IProgrammService" binding="tns:BasicHttpBinding_IProgrammService">
      <soap:address location="http://localhost:8099/IService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>